*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn {
  background-color: red;
  border-radius: 5rem; }

.select {
  color: chartreuse;
  margin: 0.5rem;
  background-color: transparent;
  border-radius: 1rem; }

.App {
  background-color: green;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.synth {
  display: flex;
  flex-direction: row;
  width: 50vw;
  box-shadow: 1rem 0.5rem 0.5rem black; }
  .synth_freq-table {
    background-color: blueviolet;
    width: 50%; }
    .synth_freq-table_root-info {
      background-color: lightsalmon; }
    .synth_freq-table_note-ratios {
      display: flex;
      flex-direction: column;
      align-items: center; }
  .synth_synth-param-container {
    width: 50%;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .synth_synth-param-container_single-param {
      margin: 0.5rem; }
