.synth {
  display: flex;
  flex-direction: row;
  width: 50vw;
  box-shadow: 1rem 0.5rem 0.5rem black;
  &_freq-table {
    background-color: blueviolet;
    width: 50%;
    &_root-info {
      background-color: lightsalmon;
      &_freq {
      }
    }
    &_note-ratios {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &_synth-param-container {
    width: 50%;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_single-param {
      margin: 0.5rem;
    }
  }
}
