.App {
  display: flex;
  margin-top: 5%;
}

.controls {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

.root-info {
  display: flex;
  flex-direction: column;
}

.note-ratios {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 20px;
}

.freq-table {
  margin: 20px;
}
